.container
  %h1
    - if params[:completed]
      Completed
    - else
      Incomplete
    Orders

  - if params[:completed]
    = link_to "View Incomplete Orders", orders_path, class: "btn btn-secondary mb-3"
  - else
    = link_to "View Completed Orders", orders_path(completed: true), class: "btn btn-secondary mb-3"

  .table-responsive
    %table.table.table-striped.table-dark.table-hover.table-sm
      %thead
        %tr
          %th Order ID
          %th Player Name
          %th Total
          %th Status
      %tbody
        = render @orders
