%h1.text-center.display-3 Order Form

.container
  .table-responsive
    %table.table.table-striped.table-dark.table-hover.table-sm
      %thead
        %tr
          %th Ship
          %th Price
          %th Quantity
      %tbody
        %tr
          %td asdf
          %td asdf
          %td ags
        %tr
          %td asdf
          %td asdf
          %td ags
