%h1.text-center.display-3 Order Form

.container
  = form_for @order, html: {class: "js-order-form"} do |f|
    - if @order.errors.any?
      .alert.alert-warning
        %h4.alert-heading There were errors in your order
        %ul
          - @order.errors.full_messages.each do |error|
            %li= error
    = render partial: 'orders/form', locals: {f: f}

    .fixed-actions
      -# = f.submit "Submit", class: 'btn btn-success', "data-disable-with" => "Please Wait..."
      -# %span.js-total-price
      %button{type: 'button', class: 'btn btn-success', data: {toggle: "modal", target: ".js-review-order"}}
        Review Order
      %span.js-total-price

    = render partial: "review_order", locals: {f: f}
