- order.out_of_stock_line_items.each do |line_item|
  %tr
    %td= line_item.corp_stock.item
    %td
      - if order.donation?
        = isk_currency line_item.corp_member_manufacturing_withdrawal_fee
      - else
        = isk_currency line_item.profit_margin_for(:total)
    - if !@order.donation?
      %td
        = isk_currency line_item.price_without_contract_fee
