%tr
  %td
    = line_item.corp_stock.item
  %td
    = isk_currency line_item.price, true
  %td
    = number_with_delimiter line_item.quantity
  %td
    = isk_currency line_item.total
  %td
    - if !order.complete? && line_item.pending_stock?
      .badge.badge-danger{data: {toggle: "tooltip"}, title: "Corp will need to manufacture or source some or all of this item"}
        No
    - else
      Yes
