

$white: white;
$black: black;
$gray: #35373f;
.navbar-brand {
  display: inline-block;
  padding: 1.5rem 0rem 1.5rem 6rem;
  background-image: asset_url('ali_icon.jpg');
  background-position: top left;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;
}
.navbar-dark{
  background-color: #0a5574;
  color: white;
  .navbar-nav .nav-link {
    color: white;
  }

  .navbar-brand {
    &:hover, &:focus {
      color: rgba(255,255,255, 0.5);
    }
  }
}
.navbar {
  font-size: 1.2rem;
}
.fixed-actions {
  position: fixed;
  z-index: 5;
  right: 0rem;
  bottom: 10%;
  margin-top: 0;
  box-sizing: border-box;
  width: 28%;
  padding: 1rem 3rem 1rem 1.75rem;
  border: 1px solid #b2bac8;
  border-right: none;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background: #ebedf1;
  box-shadow: 0 0.313rem 1.125rem rgba(0,0,0,0.18);
  color: black;
}

html {
  font-size: 12px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 16px;
  }
}

body {
  background: $black;
  color: $white;
  font-family: 'Noto Sans', sans-serif;
}
h1,
h2 {
  font-weight: bold;
}
p {
  font-size: 16px;
  color: $white;
}
.jumbotron {
  background: $gray;
  color: $white;
  text-align: center;
  p {
    color: $white;
    font-size: 26px;
  }
}
.link {
  color: $white;
}
.btn-primary {
  color: $white;
  border-color: $white;
  margin-bottom: 5px;
}
.btn-small {
  background-color: $white;
  display: inline-block;
}
img,
video,
audio {
  margin-top: 20px;
  max-width: 80%;
}
caption {

  float: left;
  clear: both;

}


.input-group-button {
  width: 1%;
  vertical-align: middle;
  display: table-cell;

  &:last-child .btn {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.clippy {
  margin-top: -3px;
  position: relative;
  top: 3px;

  max-width: fit-content;
}
