%nav.navbar.navbar-dark.navbar-static-top.navbar-expand-md
  .container
    = link_to root_path, class: "navbar-brand" do
      Ascended Lunar Isle

    %button.navbar-toggler.collapsed{type: "button", data: {toggle: "collapse", target: ".js-navbar-collapse-1", aria_expanded: "false"}}
      %span.navbar-toggler-icon

    .collapse.navbar-collapse.js-navbar-collapse-1
      %ul.nav.navbar-nav.mr-auto
        %li.nav-item= link_to "Home", root_path, class: "nav-link"
        %li.nav-item= link_to "Buy From ALI", new_order_path, class: "nav-link"
